pve_cloud_controller_upstream:
  stage: build
  image: docker.io/tobiashvmz/pve-cloud-ci:202601081028
  script:
    # write the new version
    - sed -i "s/var\.cloud_controller_version\s==\s\?\snull\s?\s\".*\"/var.cloud_controller_version == null ? \"${PVE_CLOUD_CONTROLLER}\"/" variables.tf
    - /scripts/upstream-push.sh "Update pve-cloud-controller version to ${PVE_CLOUD_CONTROLLER}"
    # todo: maybe merge on paralellism
  rules:
    - if: '$PVE_CLOUD_CONTROLLER != null && $PVE_CLOUD_CONTROLLER != "" && $UPSTREAM_TAG_MESSAGE =~ /^release-.*/' # set by upstream
  resource_group: deploy-prod # paralellism through single build call

pve_cloud_controller_rc_upstream:
  stage: build
  image: docker.io/tobiashvmz/pve-cloud-ci:202601081028
  script:
    # get the latest prod tag
    - new_tag=$(/scripts/get-new-tag.sh)
    - echo $new_tag
    # switch to rc branch
    - /scripts/rc-branch.sh $new_tag
    # write the new version
    - sed -i "s/var\.cloud_controller_version\s==\s\?\snull\s?\s\".*\"/var.cloud_controller_version == null ? \"${PVE_CLOUD_CONTROLLER}\"/" variables.tf
    - /scripts/upstream-push.sh "Set pve-cloud-controller rc version to ${PVE_CLOUD_CONTROLLER}" "${new_tag}-rc"
  rules:
    - if: '$PVE_CLOUD_CONTROLLER != null && $PVE_CLOUD_CONTROLLER != "" && $UPSTREAM_TAG_MESSAGE =~ /^rc-.*/' # set by upstream
  resource_group: deploy-prod # paralellism through single build call

# pipeline trigger if the upstream releases
pxc_prov_upstream:
  stage: build
  image: docker.io/tobiashvmz/pve-cloud-ci:202601081028
  script:
    # update all versions.tf files with the new provider tag
    - 'find . -type f -name "versions.tf" -exec sed -i "s/version.*pxc/version = \"~>${PXC_PROV_VERSION}\" # pxc/" {} +'
    - /scripts/upstream-push.sh "Update pxc provider version to $PXC_PROV_VERSION"
  rules:
    - if: '$PXC_PROV_VERSION != null && $PXC_PROV_VERSION != "" && $UPSTREAM_TAG_MESSAGE =~ /^release-.*/' # set by upstream
  resource_group: deploy-prod

pxc_prov_rc_upstream:
  stage: build
  image: docker.io/tobiashvmz/pve-cloud-ci:202601081028
  script:
    # get the latest prod tag
    - new_tag=$(/scripts/get-new-tag.sh)
    - echo $new_tag
    # switch to rc branch
    - /scripts/rc-branch.sh $new_tag
    # update all versions.tf files with the new provider tag
    - 'find . -type f -name "versions.tf" -exec sed -i "s/version.*pxc/version = \"${PXC_PROV_VERSION}\" # pxc/" {} +'
    - /scripts/upstream-push.sh "Set pxc provider rc version to $PXC_PROV_VERSION"
  rules:
    - if: '$PXC_PROV_VERSION != null && $PXC_PROV_VERSION != "" && $UPSTREAM_TAG_MESSAGE =~ /^rc-.*/' # set by upstream
  resource_group: deploy-prod

# trigger a new release on gitlab
release_tag:
  stage: build
  image: docker.io/tobiashvmz/pve-cloud-ci:202601081028
  script:
    - /scripts/release-tag.sh
  rules:
    - if: '$CI_COMMIT_TAG =~ /^release-[a-z]+$/'
  resource_group: deploy-prod

rc_tag:
  stage: build
  image: docker.io/tobiashvmz/pve-cloud-ci:202601081028
  script:
    - /scripts/rc-tag.sh
  rules:
    - if: '$CI_COMMIT_TAG =~ /^rc-[a-z]+$/'
  resource_group: deploy-prod

# push the new tag to github so the terraform registry picks it up
push_github:
  stage: deploy
  image: docker.io/tobiashvmz/pve-cloud-ci:202601081028
  script:
    - git config --global user.name "$GITLAB_USER_NAME"
    - git config --global user.email "$GITLAB_USER_EMAIL"
    # add github remote
    - git remote add github https://$GITHUB_TOKEN@github.com/Proxmox-Cloud/terraform-pxc-controller.git
    - git push github HEAD:master
    - git push github $CI_COMMIT_TAG
  rules:
    - if: '$CI_COMMIT_TAG =~ /^\d+\.\d+\.\d+$/' # semver

push_rc_github:
  stage: deploy
  image: docker.io/tobiashvmz/pve-cloud-ci:202601081028
  script:
    - git config --global user.name "$GITLAB_USER_NAME"
    - git config --global user.email "$GITLAB_USER_EMAIL"
    # add github remote
    - git remote add github https://$GITHUB_TOKEN@github.com/Proxmox-Cloud/terraform-pxc-controller.git
    # no need to push the branch rc release tag is enough
    - git push github $CI_COMMIT_TAG
  rules:
    - if: '$CI_COMMIT_TAG =~ /^\d+\.\d+\.\d+-rc\d+$/' # release candidate

format_source:
  stage: build
  image: tobiashvmz/pve-cloud-pyci:2026010412
  script:
    - git config --global user.name "$GITLAB_USER_NAME"
    - git config --global user.email "$GITLAB_USER_EMAIL"
    - autoflake --in-place --recursive .
    - black .
    - isort .
    # commit the changes
    - |
      if ! git diff --quiet; then
        git add .
        git commit -m "Format and cleanup pipeline"
        git push origin HEAD:$CI_COMMIT_REF_NAME
      else
        echo "Nothing to clean or format!"
      fi
  rules:
    - if: >
        $CI_COMMIT_TAG !~ /^\d+\.\d+\.\d+$/ &&
        $CI_COMMIT_TAG !~ /^\d+\.\d+\.\d+-rc\d+$/ &&
        $CI_COMMIT_TAG !~ /^release-[a-z]+$/ &&
        $CI_COMMIT_TAG !~ /^rc-[a-z]+$/ &&
        $CI_PIPELINE_SOURCE == 'push'
      when: on_success
    - when: never
  resource_group: deploy-prod