server:
  config:
    alerts:
      groups:
        # here are our specific journald service based rules
%{ for service, base_expr in journald_service_specific }
        - name: "Journald Log ${service} Alerts"
          type: vlogs
          rules:
            - alert: "Errors High"
              expr: '_time:1h AND ${base_expr} | stats by (_SYSTEMD_UNIT, pve_stack, host) count() as total_errors | filter total_errors:>10'
              labels:
                severity: '{{ if gt $value 500.0 }}critical{{ else }}warning{{ end }}'
                namespace: '{{ index $labels "pve_stack" }}'
              annotations:
                summary: 'Errors {{ if gt $value 500.0 }}critical{{ else }}high{{ end }} on {{ index $labels "pve_stack" }}.'
                description: 'In the last hour {{ $value }} errors occured on {{ $labels.host }} for systemd {{ $labels._SYSTEMD_UNIT }}.'
%{ endfor }
        - name: "Journald Log Base Alerts"
          type: vlogs
          rules:
            - alert: "Errors High"
              # filter first by journald to optimize query
              expr: '_time:1h AND ${journald_service_filter} AND ${error_base_filter} | stats by (_SYSTEMD_UNIT, pve_stack, host) count() as total_errors | filter total_errors:>10'
              labels:
                severity: '{{ if gt $value 500.0 }}critical{{ else }}warning{{ end }}'
                namespace: '{{ index $labels "pve_stack" }}'
              annotations:
                summary: 'Errors {{ if gt $value 500.0 }}critical{{ else }}high{{ end }} on {{ index $labels "pve_stack" }}.'
                description: 'In the last hour {{ $value }} errors occured on {{ $labels.host }} for systemd {{ $labels._SYSTEMD_UNIT }}.'

        # here are our specific k8s namespace based rules
%{ for namespace, base_expr in k8s_ns_specific }
        - name: "K8S Log ${namespace} Alerts"
          type: vlogs
          rules:
            - alert: "Errors High"
              expr: '_time:1h AND ${base_expr} | stats by (kubernetes.container_name, kubernetes.pod_namespace, pve_stack) count() total_errors | filter total_errors:>10'
              labels:
                severity: '{{ if gt $value 500.0 }}critical{{ else }}warning{{ end }}'
                namespace: '{{ index $labels "kubernetes.pod_namespace" }}'
              annotations:
                summary: 'Errors {{ if gt $value 500.0 }}critical{{ else }}high{{ end }} in {{ index $labels "kubernetes.pod_namespace" }}.'
                description: 'In the last hour {{ $value }} errors occured for container {{ index $labels "kubernetes.container_name" }} in k8s stack {{ index $labels "pve_stack" }}.'
%{ endfor }

        # this is a generic catch for anything not defined in the specific rulesset
        - name: "K8S Log Base Alerts" 
          type: vlogs
          rules:
            - alert: "Errors High"
              expr: '_time:1h AND ${k8s_ns_filter} AND ${error_base_filter} | stats by (kubernetes.container_name, kubernetes.pod_namespace, pve_stack) count() total_errors | filter total_errors:>10'
              labels:
                severity: '{{ if gt $value 500.0 }}critical{{ else }}warning{{ end }}'
                namespace: '{{ index $labels "kubernetes.pod_namespace" }}'
              annotations:
                summary: 'Errors {{ if gt $value 500.0 }}critical{{ else }}high{{ end }} in {{ index $labels "kubernetes.pod_namespace" }}.'
                description: 'In the last hour {{ $value }} errors occured for container {{ index $labels "kubernetes.container_name" }} in k8s stack {{ index $labels "pve_stack" }}.'
