server:
  config:
    alerts:
      groups:
        # here are our specific journald service based rules
%{ for service, base_expr in journald_service_specific }
        - name: "Journald Log ${service} Alerts"
          type: vlogs
          rules:
            - alert: "Errors High"
              expr: '_time:1h AND ${base_expr} | stats by (_SYSTEMD_UNIT, pve_stack, host) count() as total_errors | filter total_errors:>10'
              labels:
                severity: warning
                namespace: '{{ index $labels "pve_stack" }}'
              annotations:
                summary: 'Errors high on {{ index $labels "pve_stack" }}.'
                description: 'In the last hour {{ $value }} errors occured on {{ $labels.host }} for systemd {{ $labels._SYSTEMD_UNIT }}.'
            - alert: "Errors Stats"
              expr: '_time:1h AND ${base_expr} | stats by (_SYSTEMD_UNIT, pve_stack, host) count() as total_errors'
              labels:
                severity: info
                namespace: '{{ index $labels "pve_stack" }}'
              annotations:
                summary: 'Errors on {{ index $labels "pve_stack" }}.'
                description: 'In the last hour {{ $value }} errors occured on {{ $labels.host }} for systemd {{ $labels._SYSTEMD_UNIT }}.'
            - alert: "InfoInhibitor"
              expr: '_time:1h AND ${base_expr} | stats by (_SYSTEMD_UNIT, pve_stack, host) count() errors_per_service | stats by (pve_stack) max(errors_per_service) max_errors | filter max_errors:<=10'
              labels:
                severity: none
                namespace: '{{ index $labels "pve_stack" }}'
              annotations:
                summary: "Inhibiting Log Info Alerts"
                description: "This is an extension to the prometheus stack default InfoInhibitor alert, extending to alerts from victoria metric logs. If any service in a pve stack has thrown more than 10 errors in the last hour, this will stop firing and the default alertmanager inhibit_rules will stop triggering, unsuppressing info log alerts for that entire stack."
%{ endfor }

        - name: "Journald Log Base Alerts"
          type: vlogs
          rules:
            - alert: "Errors High"
              expr: '_time:1h AND ${error_base_filter} AND ${journald_service_filter} | stats by (_SYSTEMD_UNIT, pve_stack, host) count() as total_errors | filter total_errors:>10'
              labels:
                severity: warning
                namespace: '{{ index $labels "pve_stack" }}'
              annotations:
                summary: 'Errors high on {{ index $labels "pve_stack" }}.'
                description: 'In the last hour {{ $value }} errors occured on {{ $labels.host }} for systemd {{ $labels._SYSTEMD_UNIT }}.'
            - alert: "Errors Stats"
              expr: '_time:1h AND ${error_base_filter} AND ${journald_service_filter} | stats by (_SYSTEMD_UNIT, pve_stack, host) count() as total_errors'
              labels:
                severity: info
                namespace: '{{ index $labels "pve_stack" }}'
              annotations:
                summary: 'Errors on {{ index $labels "pve_stack" }}.'
                description: 'In the last hour {{ $value }} errors occured on {{ $labels.host }} for systemd {{ $labels._SYSTEMD_UNIT }}.'
            - alert: "InfoInhibitor"
              expr: '_time:1h AND ${error_base_filter} AND ${journald_service_filter} | stats by (_SYSTEMD_UNIT, pve_stack, host) count() errors_per_service | stats by (pve_stack) max(errors_per_service) max_errors | filter max_errors:<=10'
              labels:
                severity: none
                namespace: '{{ index $labels "pve_stack" }}'
              annotations:
                summary: "Inhibiting Log Info Alerts"
                description: "This is an extension to the prometheus stack default InfoInhibitor alert, extending to alerts from victoria metric logs. If any service in a pve stack has thrown more than 10 errors in the last hour, this will stop firing and the default alertmanager inhibit_rules will stop triggering, unsuppressing info log alerts for that entire stack."

        # here are our specific k8s namespace based rules
%{ for namespace, base_expr in k8s_ns_specific }
        - name: "K8S Log ${namespace} Alerts"
          type: vlogs
          rules:
            - alert: "Errors High"
              expr: '_time:1h AND ${base_expr} | stats by (kubernetes.container_name, kubernetes.pod_namespace, pve_stack) count() total_errors | filter total_errors:>10'
              labels:
                severity: warning
                namespace: '{{ index $labels "kubernetes.pod_namespace" }}'
              annotations:
                summary: 'Errors high in {{ index $labels "kubernetes.pod_namespace" }}.'
                description: 'In the last hour {{ $value }} errors occured for container {{ index $labels "kubernetes.container_name" }} in k8s stack {{ index $labels "pve_stack" }}.'
            - alert: "Errors Stats"
              expr: '_time:1h AND ${base_expr} | stats by (kubernetes.container_name, kubernetes.pod_namespace, pve_stack) count() as total_errors'
              labels:
                severity: info
                namespace: '{{ index $labels "kubernetes.pod_namespace" }}'
              annotations:
                summary: 'Errors in {{ index $labels "kubernetes.pod_namespace" }}.'
                description: 'In the last hour {{ $value }} errors occured for container {{ index $labels "kubernetes.container_name" }} in k8s stack {{ index $labels "pve_stack" }}.'
            - alert: "InfoInhibitor"
              expr: '_time:1h ${base_expr} | stats by (kubernetes.pod_namespace, kubernetes.container_name, pve_stack) count() errors_per_pod | stats by (kubernetes.pod_namespace, pve_stack) max(errors_per_pod) max_errors | filter max_errors:<=10'
              labels:
                severity: none
                namespace: '{{ index $labels "kubernetes.pod_namespace" }}'
              annotations:
                summary: "Inhibiting Log Info Alerts"
                description: "This is an extension to the prometheus stack default InfoInhibitor alert, extending to alerts from victoria metric logs. If any pod in a namespace has thrown more than 10 errors in the last hour, this will stop firing and the default alertmanager inhibit_rules will stop triggering, unsuppressing info log alerts for that entire namespace."
%{ endfor }

        # this is a generic catch for anything not defined in the specific rulesset
        - name: "K8S Log Base Alerts" 
          type: vlogs
          rules:
            - alert: "Errors High"
              expr: '_time:1h AND ${error_base_filter} AND ${k8s_ns_filter} | stats by (kubernetes.container_name, kubernetes.pod_namespace, pve_stack) count() total_errors | filter total_errors:>10'
              labels:
                severity: warning
                namespace: '{{ index $labels "kubernetes.pod_namespace" }}'
              annotations:
                summary: 'Errors high in {{ index $labels "kubernetes.pod_namespace" }}.'
                description: 'In the last hour {{ $value }} errors occured for container {{ index $labels "kubernetes.container_name" }} in k8s stack {{ index $labels "pve_stack" }}.'
            - alert: "Errors Stats"
              expr: '_time:1h AND ${error_base_filter} AND ${k8s_ns_filter} | stats by (kubernetes.container_name, kubernetes.pod_namespace, pve_stack) count() as total_errors'
              labels:
                severity: info
                namespace: '{{ index $labels "kubernetes.pod_namespace" }}'
              annotations:
                summary: 'Errors in {{ index $labels "kubernetes.pod_namespace" }}.'
                description: 'In the last hour {{ $value }} errors occured for container {{ index $labels "kubernetes.container_name" }} in k8s stack {{ index $labels "pve_stack" }}.'
            - alert: "InfoInhibitor"
              expr: '_time:1h AND ${error_base_filter} AND ${k8s_ns_filter} | stats by (kubernetes.pod_namespace, kubernetes.container_name, pve_stack) count() errors_per_pod | stats by (kubernetes.pod_namespace, pve_stack) max(errors_per_pod) max_errors | filter max_errors:<=10'
              labels:
                severity: none
                namespace: '{{ index $labels "kubernetes.pod_namespace" }}'
              annotations:
                summary: "Inhibiting Log Info Alerts"
                description: "This is an extension to the prometheus stack default InfoInhibitor alert, extending to alerts from victoria metric logs. If any pod in a namespace has thrown more than 10 errors in the last hour, this will stop firing and the default alertmanager inhibit_rules will stop triggering, unsuppressing info log alerts for that entire namespace."